.about_section {
    background-color: #f3f0f6;
    
  }
  
  .about_section .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .about_section .img_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
            margin-top: 50px;
  }
  
  .about_section .img_container .img-box {
    border: 4px solid #7b57b2;
    border-radius: 100%;
    overflow: hidden;
  }
  
  .about_section .img_container .img-box.b1 {
    width: 60%;
  }
  
  .about_section .img_container .img-box.b2 {
    width: 40%;
    margin-left: auto;
    margin-top: -12%;
  }
  
  .about_section .img_container .img-box img {
    width: 100%;
  }
  
  .about_section .detail-box {
    margin-right: 15%;
  }
  
  .about_section .detail-box p {
    margin-top: 25px;
  }
  
  .about_section .detail-box a {
    display: inline-block;
    padding: 10px 35px;
    background-color: #4b208c;
    color: #ffffff;
    border-radius: 5px;
    margin: 25px 0 45px 0;
  }
  
  .about_section .detail-box a:hover {
    background-color: #5625a1;
  }
  