.blog_section .heading_container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .blog_section .heading_container h2::before {
    background-color: #ffffff;
  }
  
  .blog_section .box {
    margin-top: 55px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  }
  
  .blog_section .box .img-box {
    position: relative;
  }
  
  .blog_section .box .img-box img {
    width: 100%;
  }
  
  .blog_section .box .detail-box {
    padding: 25px 25px 15px;
  }
  
  .blog_section .box .detail-box h5 {
    font-weight: bold;
  }
  