.contact_section {
    position: relative;
  }
  
  .contact_section form {
    margin-top: 45px;
    padding-right: 35px;
  }
  
  .contact_section input {
    width: 100%;
    border: none;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 25px;
    background-color: transparent;
    outline: none;
    color: #101010;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
  }
  
  .contact_section input::-webkit-input-placeholder {
    color: #737272;
  }
  
  .contact_section input:-ms-input-placeholder {
    color: #737272;
  }
  
  .contact_section input::-ms-input-placeholder {
    color: #737272;
  }
  
  .contact_section input::placeholder {
    color: #737272;
  }
  
  .contact_section input.message-box {
    height: 120px;
  }
  
  .contact_section button {
    border: none;
    display: inline-block;
    padding: 12px 45px;
    background-color: #4b208c;
    color: #ffffff;
    border-radius: 0px;
    margin-top: 35px;
  }
  
  .contact_section button:hover {
    background-color: #5625a1;
  }
  
  .contact_section .map-container {
    height: 500px; 
    min-height: 500px; 
  }
  
  .contact_section .map-container .map-responsive {
    height: 100%; 
  }
  
 